{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<div class="form_div">
    <p>Contact Me</p>
    <p style="font-size:18;">{{ msg }}</p>
    <!-- This is theroy part. -->
    <form action='' method="POST" class="contact">
        {% csrf_token %}
        <label for="name">Your Name</label><br>
        <input type="text" id="name" name="Name" required><br>
        <label for="email">Your Email</label><br>
        <input type="email" id="email" name="Email" required><br>
        <label for="">Your Message</label><br>
        <textarea id="message" cols="30" rows="6" name="Message" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}