<!-- This is Base File -->
{% extends 'planets.html' %}
{% load static %}
<!-- This is Title -->
{% block title %} Jupiter {% endblock %} {% block title1 %} Jupiter {% endblock %}

<!-- This is image -->
{% block main_image %}
<img class="main_img" src="{% static 'Images/Jupiter_img.png' %}" alt="Jupiter Image" width="300px" height="300px" style="border-radius: 10px;"> {% endblock %}
<!-- This is theroy part. -->
{% block main_summary %} Jupiter is the fifth planet from the Sun and the largest in the Solar System. Named after the Roman king of the gods, Jupiter is fitting of its name. With a mass of 1.90 x 1027 kg and a mean diameter of 139,822 km, Jupiter is
easily the largest and most massive planet in the Solar System. It is a gas giant with a mass two and a half times that of all the other planets in the Solar System combined, but less than one-thousandth the mass of the Sun. {% endblock %}


{% block million %} million {% endblock %}

    <!-- This is Table -->ś
    <!-- Age -->
    {% block age %} {{ data.2 }} {% endblock %}
    <!-- Speed -->
    {% block speed %} {{ data.3 }} {% endblock %}
    <!-- Mass -->
    {% block mass %} {{ data.4|safe }} {% endblock %}
    <!-- Radius -->
    {% block radius %} {{ data.5 }} {% endblock %} {% block radius1 %} 2439.7 {% endblock %}
    <!-- Surface Temperature -->
    {% block surface_temperature %} {{ data.6 }} {% endblock %}
    <!-- Density -->
    {% block density %} {{ data.7|safe }} {% endblock %}
    <!-- Distance from Sun -->
    {% block distance_from_sun %} {{ data.8 }} {% endblock %} {% block distance_from_sun1 %} 58 {% endblock %}
    <!-- Gravity -->
    {% block gravity %} {{ data.9|safe }} {% endblock %}
    <!-- Number of Satellites -->
    {% block number_of_satellites %} {{ data.10 }} {% endblock %}
    <!-- Length of day -->
    {% block length_of_day %} {{ data.11 }} {% endblock %}
    <!-- Revolution -->
    {% block revolution %} {{ data.12 }} {% endblock %}
    <!-- Axis Tilt -->
    {% block axis_tilt %} {{ data.13 }} {% endblock %}

{% block content%}
<div class="mains2">
    <div class="one2">
        <h1 class="headleft">Formation</h1>
        <p>
            Jupiter took shape when the rest of the solar system formed about 4.5 billion years ago, when gravity pulled swirling gas and dust in to become this gas giant. Jupiter took most of the mass left over after the formation of the Sun, ending up with more
            than twice the combined material of the other bodies in the solar system. In fact, Jupiter has the same ingredients as a star, but it did not grow massive enough to ignite.</p>
        <p>About 4 billion years ago, Jupiter settled into its current position in the outer solar system, where it is the fifth planet from the Sun.
        </p>
        <h1 class="headleft">Structure</h1>
        <p>
            The composition of Jupiter is similar to that of the Sun—mostly hydrogen and helium. Deep in the atmosphere, pressure and temperature increase, compressing the hydrogen gas into a liquid. This gives Jupiter the largest ocean in the solar system—an ocean
            made of hydrogen instead of water. Scientists think that, at depths perhaps halfway to the planet's center, the pressure becomes so great that electrons are squeezed off the hydrogen atoms, making the liquid electrically conducting like metal.
            Jupiter's fast rotation is thought to drive electrical currents in this region, generating the planet's powerful magnetic field. It is still unclear if, deeper down, Jupiter has a central core of solid material or if it may be a thick, super-hot
            and dense soup. It could be up to 90,032 degrees Fahrenheit (50,000 degrees Celsius) down there, made mostly of iron and silicate minerals (similar to quartz).
        </p>

        <h1 class="headleft">Size and Distance</h1>
        <p>
            With a radius of 43,440.7 miles (69,911 kilometers), Jupiter is 11 times wider than Earth. If Earth were the size of a nickel, Jupiter would be about as big as a basketball.
        </p>
        <p>From an average distance of 484 million miles (778 million kilometers), Jupiter is 5.2 astronomical units away from the Sun. One astronomical unit (abbreviated as AU), is the distance from the Sun to Earth. From this distance, it takes Sunlight
            43 minutes to travel from the Sun to Jupiter.
        </p>
        <h1 class="headleft">Orbit and Rotation</h1>
        <p>
            Jupiter has the shortest day in the solar system. One day on Jupiter takes only about 10 hours (the time it takes for Jupiter to rotate or spin around once), and Jupiter makes a complete orbit around the Sun (a year in Jovian time) in about 12 Earth years
            (4,333 Earth days).
        </p>
        <p>Its equator is tilted with respect to its orbital path around the Sun by just 3 degrees. This means Jupiter spins nearly upright and does not have seasons as extreme as other planets do.
        </p>
        <h1 class="headleft">Atmosphere</h1>
        <p>
            Jupiter's appearance is a tapestry of colorful cloud bands and spots. The gas planet likely has three distinct cloud layers in its "skies" that, taken together, span about 44 miles (71 kilometers). The top cloud is probably made of ammonia ice, while
            the middle layer is likely made of ammonium hydrosulfide crystals. The innermost layer may be made of water ice and vapor.
        </p>
        <p>The vivid colors you see in thick bands across Jupiter may be plumes of sulfur and phosphorus-containing gases rising from the planet's warmer interior. Jupiter's fast rotation—spinning once every 10 hours—creates strong jet streams, separating
            its clouds into dark belts and bright zones across long stretches.
        </p>
        <p>With no solid surface to slow them down, Jupiter's spots can persist for many years. Stormy Jupiter is swept by over a dozen prevailing winds, some reaching up to 335 miles per hour (539 kilometers per hour) at the equator. The Great Red Spot,
            a swirling oval of clouds twice as wide as Earth, has been observed on the giant planet for more than 300 years. More recently, three smaller ovals merged to form the Little Red Spot, about half the size of its larger cousin. Scientists do
            not yet know if these ovals and planet-circling bands are shallow or deeply rooted to the interior.
        </p>

        <h1 class="headleft">Composition of the Jupiter</h1>
        <p>
            Jupiter is mainly consists of Hydrogen and Helium.
        </p>
        <p>
            <ul class="list6">
                <li class="hydrogen">Hydrogen<br>90%</li>
                <li class="helium">Helium<br>10%</li>
            </ul>
        </p>

        <h1 class="headleft">Facts about the Jupiter.</h1>
        <h3>1). The first recorded sighting of Jupiter were by the ancient Babylonians in around 7th or 8th BC.</h3>
        <p> It is named for Jupiter, the king of the Roman gods and god of the Sky. The Greek equivalent is Zeus, god of thunder. For the Mesopotamians, he was the god Marduk and patron of the city of Babylon. Germanic tribes saw the planet as Donar, also
            known as Thor.</p>
        <hr>
        <h3>2). When Galileo discovered the four moons of Jupiter in 1610 this was the first proof of celestial bodies orbiting something other than Earth.</h3>
        <p>The discovery also provided further evidence of Copernicus’ Sun-centred solar system model.</p>
        <hr>
        <h3>3). Jupiter has the shortest day of the eight planets.</h3>
        <p>The planet rotates very Jupiter rotates very quickly, turning on its axis once every 9 hours and 55 minutes. This rapid rotation is also what causes the flattening effect of the planet, which is why it has an oblate shape.</p>
        <hr>
        <h3>4). Jupiter has a faint ring system around it.</h3>
        <p>Its ring is mostly comprised of dust particles from some of Jupiter’s moons during impacts from comets and asteroids. The ring system begins about 92,000 km above Jupiter’s clouds and reaches more than 225,000 km from the planet. The rings are
            somewhere between 2,000-12,500 km thick.</p>
        <hr>
        <h3>5). The largest of Jupiter’s moons, Ganymede is the largest moon in the solar system.</h3>
        <p>The moons are sometimes called the Jovian satellites and the largest of them are Ganymede, Callisto, Io and Europa. Ganymede is larger than the planet Mercury with a diameter of around 5,268 km.</p>
        <hr>
        <h3>6). Jupiter has a very strong magnetic field. </h3>
        <p> This is around 14 times stronger than the magnetic field found on Earth – the largest of any planet in the solar system.</p>
        <hr>
        <h3>7). Eight spacecraft have visited Jupiter so far.</h3>
        <p>Those are Pioneer 10 and 11, Voyager 1 and 2, Galileo, Cassini, Ulysses and the New Horizons mission. Another mission, Juno, is set to arrive at Jupiter some time around July 2016. There are also plans for future missions to focus on the Jovian
            moons of Jupiter – Europa, Ganymede and Callisto – and their possible subsurface oceans.</p>
        <hr>
        <h3>8). Jupiter has a very unique cloud layer.</h3>
        <p>The upper atmosphere of the planet is divided into zones and cloud belts which are made of ammonia crystals, sulfur and a mixture of these two compounds.</p>
        <hr>
        <h3>Some other facts :</h3>
        <ul style="padding-left: 3vw;">
            <li>
                <p>Jupiter is the fourth brightest object in our solar system. After the Sun, the Moon and Venus, Jupiter is the brightest and is one of five planets which can be seen by naked eye from Earth.</p>
            </li>
            <li>
                <p>Jupiter does not experience seasons like other planets such as Earth and Mars. This is because the axis is only tilted by 3.13 degrees.</p>
            </li>
            <li>
                <p>Jupiter’s Great Red Spot is an enormous storm that has been raging for over 300 years. This storm is so wide that three Earth’s would fit inside of it.</p>
            </li>
            <li>
                <p>If Jupiter had become 80 times more massive, nuclear fusion would have occurred in its core. Had that happened, it would have become a star instead of a planet.</p>
            </li>
        </ul>
        <hr>
    </div>
    <div class="two2"></div>
</div>
{% endblock %}